# Lista 7 

O objetivo desta lista é exercitar as técnicas de:
 - K-Fold 
 - Estratificação
 - MAE, MSE, RMSE
 - Regressão Linear
 
A Lista deve seguir os seguintes passos:
- Crie um modelo preditivo para o problema House Prices (mesmo do exercício anterior)
- Use um k-fold estratificado para avaliação do modelo
- Use as métricas implementadas  no notebook "4-Metricas_de_Regressao "

In [84]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_boston
from sklearn.pipeline import Pipeline
from sklearn.model_selection import StratifiedKFold, cross_val_score, train_test_split, KFold
from sklearn.preprocessing import StandardScaler

## importando módulo com as métricas

from mylibs import metricas
from importlib import reload

### Lendo o dataset

In [85]:
df = pd.read_csv('https://raw.githubusercontent.com/rasbt/'
                 'python-machine-learning-book-2nd-edition'
                 '/master/code/ch10/housing.data.txt',
                 header=None,
                 sep='\s+')

df.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 
              'NOX', 'RM', 'AGE', 'DIS', 'RAD', 
              'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [86]:
df.info() # Não existem valores faltantes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null int64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null int64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
MEDV       506 non-null float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

### Separando os dados

In [87]:
X, y = df.values[:, :-1], df.values[:, -1]

In [90]:
X.shape, y.shape

((506, 13), (506,))

#### A estratificação deverá ocorrer. No meu ponto de vista a estratificação em problemas de regressão é inviável pois os problemas podem nem ao menos ter valores repetidos no y, e esse problema ocorre aqui, não consigo fazer a estratificação pois ele não conseguem nem criar grupos mínimos de cada valor.

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [97]:
X_train.shape, y_train.shape

((379, 13), (379,))

### Definindo o K-Fold

In [98]:
cv = KFold(n_splits=3, shuffle=True, random_state=42) 
pipe = Pipeline([('transformer', StandardScaler()), ('estimator', LinearRegression())])

In [99]:
validacao_cruzada = cross_val_score(pipe, X, y, cv=cv)
validacao_cruzada, np.mean(validacao_cruzada)

(array([0.72620992, 0.71324978, 0.73342693]), 0.7242955438702333)

### Gerando modelo final

In [101]:
LR = LinearRegression()

In [103]:
LR.fit(X_train, y_train)
pred = LR.predict(X_test)

### Usando métricas

In [106]:
reload(metricas);

In [104]:
metricas.mae(y_test, pred)

3.0609395954370346

In [105]:
metricas.msle(y_test, pred)

/home/ben/Documentos/Semestre 8/Mineracao-de-Dados/Lista 7  - Avaliacao de modelos e metricas/mylibs/metricas.py:11: RuntimeWarning: invalid value encountered in log
  return ((np.log(y_true+1) - np.log(y_pred+1))**2).sum() / y_true.shape[0]

nan

In [107]:
metricas.mse(y_test, pred)

22.098694827098097

In [108]:
metricas.r2(y_test, pred)

0.6844267283527115

In [109]:
metricas.rmse(y_test, pred)

4.7009248906037735

In [110]:
metricas.rmsle(y_test, pred)

/home/ben/Documentos/Semestre 8/Mineracao-de-Dados/Lista 7  - Avaliacao de modelos e metricas/mylibs/metricas.py:26: RuntimeWarning: invalid value encountered in log

nan